<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <div class="homeButton">
        <i class="material-icons md-36" routerLink="/home">home</i>
    </div>
    <div class="buttonRow">
        <button class="btn reload" (click) = "reload()">Reload</button>
        <button class="btn sort">Sort</button>
        <button class="btn randomize"  (click)="shuffle()">Randomize</button>
    </div>
    <div class="float-container">
        <div class="float-child">
            <div class="list-group">
                <a *ngFor = "let name of namesCopy" class="list-group-item">{{name.name}}</a>
            </div>
        </div>
        <div class="float-child">
            <div>
                <label class = "label-style">{{chosenName}}</label>
            </div>
        </div>
        <div class="float-child">
            <div class = "list-group">
                <a *ngFor ="let name of selectedNames" class="list-group-item">
                    {{name}}
                </a>            
        </div>
    </div>
</div>