
<div class="menu-bar">
    <ul>
        <!--<a routerLink="/" class="navbar-brand" (click) = "navigate('H')">CCD Assist</a>-->
        <li (click) = "navigate('H')"><a class="fancy-link2" href="#"><b>CCD Assist</b></a></li>
        <li (click) = "navigate('R')"><a class="fancy-link" href="#"><b>Randomize</b></a></li>
        <li (click) = "navigate('G')"><a class="fancy-link" href="#"><b>Grouping</b></a></li>
        <li (click) = "navigate('W')"><a class="fancy-link" href="#"><b>Wheel Of Fortune</b></a></li>
        <li (click) = "navigate('P')"><a class="fancy-link" href="#"><b>Prayers</b></a></li>
        <li (click) = "navigate('C')"><a class="fancy-link" href="#"><b>Catholic Answers</b></a></li>
    </ul>
</div>







<!--
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngfor="let iconBar of [1,2,3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand" (click) = "navigate('H')">CCD Assist</a>
        </div>
        
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li (click) = "navigate('R')"><a href="#">Randomize</a></li>
                <li (click) = "navigate('G')"><a href="#">Grouping</a></li>
                <li (click) = "navigate('W')"><a href="#">Wheel Of Fortune</a></li>
                <li (click) = "navigate('P')"><a href="#">Prayers</a></li>
                <li (click) = "navigate('C')"><a href="#">Catholic Answers</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Randomize</a></li>
                        <li><a href="#">Grouping</a></li>
                        <li><a href="#">Wheel Of Fortune</a></li>
                        <li><a href="#">Prayers</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav> -->