<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="container">
    <div class="homeButton">
    </div>
    <div class="buttonRow">
        <label for = "groupNum">Number of groups</label>
        <input type="number" class="form-control" style = "width: 60px;" value="2" min="1" max="5" #groupNum>
        <button class="btn btn-primary">Name</button>
        <button class="btn btn-success">Gender</button>
        <label for="scoreValue">Award Value</label>&nbsp;&nbsp;
        <input type="number" class="form-control" style="width: 60px;" value="100" min="1" #scoreValue>&nbsp;&nbsp;
    </div>
    <div class="col-xs-12">
        <div class="list-group" #group1>
            <button *ngIf="splitArray1.length>0" (click)="decrementScore(1,scoreValue.value)">-</button>&nbsp;&nbsp;
            <label *ngIf="splitArray1.length>0" class="scoreStyle">{{score1}}</label>&nbsp;&nbsp;
            <button *ngIf="splitArray1.length>0" (click)="incrementScore(1,scoreValue.value)">+</button>&nbsp;&nbsp;<br>
            <label for = "group1" *ngIf ="splitArray1.length > 0">Group 1</label>
            <a *ngFor = "let name of splitArray1" class="list-group-item">{{name.name}}</a>
        </div>
        <div class="list-group" #group2>
            <button *ngIf="splitArray2.length>0" (click)="decrementScore(2,scoreValue.value)">-</button>&nbsp;&nbsp;
            <label *ngIf="splitArray2.length>0" class="scoreStyle">{{score2}}</label>&nbsp;&nbsp;
            <button *ngIf="splitArray2.length>0" (click)="incrementScore(2,scoreValue.value)">+</button>&nbsp;&nbsp;<br>
            <label for = "group2" *ngIf ="splitArray2.length > 0">Group 2</label>
            <a *ngFor = "let name of splitArray2" class="list-group-item">{{name.name}}</a>
        </div>
        <div class="list-group" #group3>
            <button *ngIf="splitArray3.length>0" (click)="decrementScore(3,scoreValue.value)">-</button>&nbsp;&nbsp;
            <label *ngIf="splitArray3.length>0" class="scoreStyle">{{score3}}</label>&nbsp;&nbsp;
            <button *ngIf="splitArray3.length>0" (click)="incrementScore(3,scoreValue.value)">+</button>&nbsp;&nbsp;<br>
            <label for = "group3" *ngIf ="splitArray3.length > 0">Group 3</label>
            <a *ngFor = "let name of splitArray3" class="list-group-item">{{name.name}}</a>
        </div>
        <div class="list-group" #group4>
            <button *ngIf="splitArray4.length>0" (click)="decrementScore(4,scoreValue.value)">-</button>&nbsp;&nbsp;
            <label *ngIf="splitArray4.length>0" class="scoreStyle">{{score4}}</label>&nbsp;&nbsp;
            <button *ngIf="splitArray4.length>0" (click)="incrementScore(4,scoreValue.value)">+</button>&nbsp;&nbsp;<br>
            <label for = "group4" *ngIf ="splitArray4.length > 0">Group 4</label>
            <a *ngFor = "let name of splitArray4" class="list-group-item">{{name.name}}</a>
        </div>
        <div class="list-group" #group5>
            <button *ngIf="splitArray5.length>0" (click)="decrementScore(5,scoreValue.value)">-</button>&nbsp;&nbsp;
            <label *ngIf="splitArray5.length>0" class="scoreStyle">{{score5}}</label>&nbsp;&nbsp;
            <button *ngIf="splitArray5.length>0" (click)="incrementScore(5,scoreValue.value)">+</button>&nbsp;&nbsp;<br>
            <label for = "group5" *ngIf ="splitArray5.length > 0">Group 5</label>
            <a *ngFor = "let name of splitArray5" class="list-group-item">{{name.name}}</a>
        </div>
    </div>
</div>
<p>hello</p>