<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="combined">
    <div class="firstHalf">
        <div class="homeButton">
            <i class="material-icons md-36" (click) = "Navigate('FP')">home</i>
        </div>
        <div>
            <div class="buttonRow">
                <button class="btn btn-success" (click)="startGame()">Start</button>
                <button class="btn btn-success" (click)="getPreviousQuestion()">Previous</button>
                <button class="btn btn-success" (click)="getNextQuestion()">Next</button>
                <button class="btn btn-success" (click)="showAnswer()">Answer</button>
            </div>
            <br>
            <div class="timer">
                <h3>Timer</h3>
                <div class="progress">
                    <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: {{timerSeconds/2}}%;"></div> -->
                </div>
                <p class="digital">{{(100-(timerSeconds/2))}}</p>
            </div>
            <div>
                <div class="float-container">
                    <div class="float-child">
                        <p class="questionStyle">{{que}}</p>
                        <div class="list-group">
                            <div class="list-group-item" *ngIf="ch1!=''">
                                <div class="list-group-item icon">
                                    <mat-icon class="correct" *ngIf="ans==1 && show">done</mat-icon><mat-icon class="incorrect" *ngIf="ans!=1 && show">close</mat-icon>
                                </div>
                                <div class="list-group-item text">
                                    <a>a) {{ch1}}</a>
                                </div>
                            </div>
                            <div class="list-group-item" *ngIf="ch2!=''">
                                <div class="list-group-item icon">
                                    <mat-icon class="correct" *ngIf="ans==2 && show">done</mat-icon><mat-icon class="incorrect" *ngIf="ans!=2 && show">close</mat-icon>
                                </div>
                                <div class="list-group-item text">
                                    <a>b) {{ch2}}</a>
                                </div>
                            </div>
                            <div class="list-group-item" *ngIf="ch3!=''">
                                <div class="list-group-item icon">
                                    <mat-icon class="correct" *ngIf="ans==3 && show">done</mat-icon><mat-icon class="incorrect" *ngIf="ans!=3 && show">close</mat-icon>
                                </div>
                                <div class="list-group-item text">
                                    <a>c) {{ch3}}</a>
                                </div>
                            </div>
                            <div class="list-group-item" *ngIf="ch4!=''">
                                <div class="list-group-item icon">
                                    <mat-icon class="correct" *ngIf="ans==4 && show">done</mat-icon><mat-icon class="incorrect" *ngIf="ans!=4 && show">close</mat-icon>
                                </div>
                                <div class="list-group-item text">
                                    <a>d) {{ch4}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="verticalLine">
        &nbsp;
    </div>
    <div class="secondHalf">
        <app-grouping></app-grouping>
    </div>
</div>