<!-- <app-header style="width: 100%;" (menuSelected) = "onNavigate($event)"></app-header>  -->
    <div class="main-classes">
      <app-home *ngIf = "loadedFeature === 'H'" (featureSelected) = "onNavigate($event)"></app-home>
      <app-randomize *ngIf = "loadedFeature === 'R'" (featureSelected) = "onNavigate($event)"></app-randomize> 
      <app-grouping *ngIf = "loadedFeature === 'G'"></app-grouping>
      <app-wheel-of-fortune *ngIf = "loadedFeature === 'W'"></app-wheel-of-fortune>
      <app-catholic-answers *ngIf = "loadedFeature === 'C'"></app-catholic-answers>
      <app-testing *ngIf = "loadedFeature === 'T'"></app-testing>
      <app-features-page *ngIf = "loadedFeature === 'FP'" (featureSelected) = "onNavigate($event)"></app-features-page>
    </div>
  
