

<header>
    <div class="container">
        <nav>
            <h1 class="CCDAssist"><a href="home.component.html">CCD Assist</a></h1>
            <ul>
                <li (click) = "navigate('FP')"><a href="#"><b>Home</b></a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </nav>
    </div>
</header>

<!--
    <section>
        <h1>the future of ccd</h1>
    </section >
    
    <div class="part2">
        <div class="row">
            <div class="col">    
                <h2>Welcome to CCD Assist</h2>
                <p>
                    Reinvent the way you teach your kids by having all the tools you would ever need.
                </p>   
            </div>
            <div class="col">
    
            </div>
        </div>
    </div>

    <div class="part3">
        <div class="row">
            <div class="col">    
                <h2>Think you're running of ideas. Well think again.</h2>
                <p>
                    Have access to features that can not be found integrated anywhere else.
                </p>   
            </div>
            <div class="col">
    
            </div>
        </div>
    </div>

    <div class="part4">
        <div class="row">
            <div class="col">    
                <h2>All features at your fingertips</h2>
                <p>
                    "bro, who got you smiling like dat?" CCDAssist, that's who.
                </p>   
            </div>
            <div class="col">
    
            </div>
        </div>
    </div>

-->